.Navigation {
    width: 100%;
    background-color: var(--color-primary-dark-1);
    color: var(--color-grey-light-1);
}

.Navigation .wrap {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Navigation .title {
    padding: 1.5rem 0;
}

.Navigation .right {
    margin-right: 2vw;
    align-self: stretch;

    display: flex;
}

.Navigation .right > div {
    height: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all .2s;
    font-size: 1.6rem;
}

.Navigation .right > div:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.Navigation .right > div > span {
    transition: all .2s;
}

.Navigation .right > div:hover > span {
    transform: translateY(-10%);
}

.Navigation .right > div:active {
    background-color: var(--color-primary-dark-1);
}