.GenresContainer {
    background-color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.GenresContainer > .GenreForm {
    height: 10rem;
    width: 100vw;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #fff;
    justify-content: center;
    border-top: 1px solid var(--color-grey-light-3);
}

.GenresContainer > .GenreForm .ErrorMessage {
    flex: 100%;
}

.GenresContainer > .GenreForm > * {
    flex: none;
    margin-left: 1rem;
}

.GenresContainer > .GenreForm > input[type='color'] {
    margin-right: 0;
}
