.GenreList {
    flex: 1;

    background-color: var(--color-grey-light-1);
    padding: 3rem;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30.5rem, 1fr));
    grid-gap: 1rem;
}