.GenreForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    padding:  1rem 2rem;
    position: relative;
    z-index: 1;
}

.GenreForm > .ErrorMessage {
    flex: 0 0 100%;
    margin-bottom: 1rem !important;
}

.GenreForm >  *:not(button) {
    z-index: 2;
}

.GenreForm > button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 1;
}

