.MovieItem {
    padding: 2rem;
    background-color: #fff;
    transition: all .2s;
}

/* .MovieItem:hover {
    transform: translateY(-3px);
    box-shadow: var(--box-shadow-1);
} */

.MovieItem ul {
    list-style: none;
    padding-bottom: 2rem;
}

.MovieItem button {
    width: 100%;
}

