.MovieFormModal {
    grid-column: 1 / -1;
    position:sticky;
    bottom: 0;
    right: 0;
    justify-self: end;
}

.MovieFormModal .CreateBtn {
    max-width: 7rem;
    max-height: 7rem;
    width: 10vw;
    height: 10vw;
    color: var(--color-grey-light-1);
    background-color: var(--color-grey-dark-2);
    border-radius: 50%;
    padding: 30%;
    transition: all .3s;
}

.MovieFormModal .CreateBtn:hover {
    transform: translateY(-10%);
    box-shadow: 0 1rem 1rem #00000f1f;
}

.MovieFormModal .CreateBtn:active {
    transform: translateY(0);
    box-shadow: none;
}




