.MovieList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(23rem, 1fr));
    grid-gap: 3rem;

    max-width: 120rem;
    margin: 3rem auto;
    padding: 3rem;
    
    background-color: var(--color-grey-light-1);
}
