.MovieDetailBox {
    grid-row: 1;
    grid-column: 1 / -1;

    padding: 3rem;
    background-color: #fff;
    border: 1px solid var(--color-grey-light-4);
    box-shadow: 1px 2px 2px 2px #0000000d;

    position: relative;
    animation: showMovieDetailBox 1s;
}

.MovieDetailBox > *:not(.MovieForm) {
    animation: fadeIn 1s;
}

.btn-box {
    display: flex;
    justify-content: center;
}

.MovieDetailBox .CloseBtn {
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: var(--color-grey-dark-2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 2rem;
    font-weight: bold;
}

.MovieDetailBox .CloseBtn:hover {
    color: var(--color-grey-dark-1);
}

.MovieDetailBox button {
    width: 10rem;
    border-radius: 3rem;
}

.MovieDetailBox button:not(:last-child) {
    margin-right: 2rem;
}

@keyframes showMovieDetailBox {
    0% {
        opacity: 0;
        transform: scale(.8);
    }
    20% {
        transform: scale(1.1);
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        
    }
    100% {
        opacity: 1;
    }
}