.MovieDetailContainer {
    grid-row: 1;
    grid-column: 1 / -1;

    padding: 3rem;
    background-color: #fff;
    border: 1px solid var(--color-grey-light-4);
    box-shadow: 1px 2px 2px 2px #0000000d;

    position: relative;
    animation: showMovieDetailContainer 1s;
}

.MovieDetailContainer > *:not(.MovieForm) {
    animation: fadeIn 1s;
}

.MovieDetailContainer .CloseBtn {
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: var(--color-grey-dark-2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 2rem;
    font-weight: bold;
}

.MovieDetailContainer .CloseBtn:hover {
    color: var(--color-grey-dark-1);
}


@keyframes showMovieDetailContainer {
    0% {
        opacity: 0;
        transform: scale(.8);
    }
    20% {
        transform: scale(1.1);
    }
    100% {
        opacity: 1;
    }
}
