.MovieItem {
    padding: 2rem;
    background-color: #fff;
    color: var(--color-grey-dark-1);
    box-shadow: 1px 1px #0000002b;
    border: 1px solid var(--color-grey-light-2);

    display: grid;
    grid-template-columns: max-content 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: .3rem;

    animation: MovieItemShow .3s;
}

.MovieItem h3 {
    grid-column: 1 / -1;

    margin-bottom: .7rem;
    font-weight: normal;
}

.MovieItem label {
    /* padding-left: 1rem; */
    color: var(--color-grey-dark-2);
}

.MovieItem p {
    color: var(--color-grey-dark-2);
}

.MovieItem > div {
    justify-self: start;
}

.MovieItem button {
    grid-column: 1 / -1;

    margin-top: 1rem;
}


@keyframes MovieItemShow {
    0% {
        opacity: 0;
        transform: translateY(10%);
    }
    70% {
        transform: translateY(-1%);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}