.MovieSearchField {
    grid-column: 1 / -1;
    grid-row-gap: 2rem;
    grid-column-gap: 1rem;

    background-color: var(--color-grey-light-3);
    padding: 3rem;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr))

}

.MovieSearchField > div {
    position: relative;
}

.MovieSearchField input {
    width: 100%;
}

.MovieSearchField label {
    position: absolute;
    top: 0;
    left: 0;

    align-self: flex-start;
    margin-left: 1rem;
    font-size: 1.3rem;
    color: var(--color-grey-dark-2);
    padding: .2rem .5rem;
    opacity: 1;
    transition: all .2s;
    transform: translateY(-1.3rem) rotate(-5deg) translateX(-1.5rem);
    background-color: var(--color-grey-dark-2);
    color: var(--color-grey-light-1);
    box-shadow: 0 1rem 1rem #0000000f;

}

.MovieSearchField input:placeholder-shown + label {
    visibility: hidden;
    opacity: 0;
    transform: translateY(1rem);
}