.MovieFormModal {
    align-self: flex-end;

    position: fixed;
    bottom: 10rem;
    right: 0;
    z-index: 1000;
}

@media only screen and (max-width: 37.5em) {
    .MovieFormModal {
        bottom: 8rem;
    }
} 
  
.MovieFormModal > .CreateBtn {
    width: 7rem;
    height: 7rem;
    padding: 2rem;
    background-color: var(--color-primary-dark-1);
    color: var(--color-grey-light-1);
    border-radius: 10rem;
    box-shadow: 0 .5rem .5rem #00000036;
    transition: all .3s;

    margin: 0 3rem 1.5rem 0;
}  

@media only screen and (max-width: 37.5em) {
    .MovieFormModal > .CreateBtn {
        width: 6rem;
        height: 6rem;
        margin: 0 2rem 1.5rem 0;
    }
}

.MovieFormModal > .CreateBtn:hover {
    transform: translateY(-10%);
    box-shadow: 0 1rem 1rem #00000f1f;
}

.MovieFormModal > .CreateBtn:active {
    transform: translateY(0);
    box-shadow: none;
}

.MovieFormModal .modal {
    width: 65rem;
}


@media only screen and (max-width: 31.25em) {

    .MovieFormModal .modal {
        padding: 0;
    }
    
    .MovieFormModal .MovieForm {
        padding: 3rem;
        /* min-height: 100vh; */
    }
}

