.MovieList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
    grid-gap: 3rem;
    align-items: center;
    
    padding: 5rem 3rem;
    margin-bottom: 20rem;
}
