.MovieSearchFieldContainer {
    align-self: flex-end;

    display: flex;
    flex-direction: column;

    position: fixed;
    bottom: 0;
    z-index: 1001; /* MovieForm modal's zindex = 1000 */

    overflow: hidden;
}

.MovieSearchFieldContainer[data-needs-open='true']{
    width: 100vw;
    max-width:  120rem;
}

.MovieSearchFieldContainer[data-sb-clicked='true']{
    overflow: visible;
}

/************************************ SearchField ***/
.MovieSearchFieldContainer .MovieSearchField {
    animation: searchFieldShow 1s;
}

@keyframes searchFieldShow {
    0% {
        opacity: 0;
    }
    80% {
        opacity: 0;
        transform: translatex(10%);
    }
    100% {
        opacity: 1;
    }
}

.MovieSearchFieldContainer[data-cb-clicked='true'] .MovieSearchField {
    animation: fadeOut .1s backwards;
    opacity: 0;
    visibility: hidden;
    backface-visibility: hidden;
}

/*************************************** SearchBtn ***/

.MovieSearchFieldContainer .icon {
    width: 3rem;
    height: 3rem;
}


.MovieSearchFieldContainer .SearchBtn {
    width: 7rem;
    height: 7rem;
    padding: 2rem;

    background-color: var(--color-grey-dark-1);
    box-shadow: 0 0.5rem 0.5rem #00000036;
    margin: 0 3rem 3rem 0;
}

.MovieSearchFieldContainer .SearchBtn .icon {
    animation: fadeIn .2s;
}

.MovieSearchFieldContainer .SearchBtn:hover {
    animation: shake .5s infinite;
}

.MovieSearchFieldContainer[data-sb-clicked='true'] .SearchBtn {
    animation: searchBtnHide .1s;
}

@keyframes searchBtnHide {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(230deg);
    }
}

/*************************************** CloseBtn ***/

.MovieSearchFieldContainer .CloseBtn {
    align-self: flex-end;
    width: 7rem;
    height: 7rem;
    padding: 2rem;
    background-color: var(--color-grey-dark-1);
    margin: 0 3rem 3rem 0;

    animation: closeBtnShow .75s;
}


@keyframes closeBtnShow {
    0% {
        transform: rotate(-30deg);
    }
    20% {
        transform: rotate(0) scale(1.3);
    }
    50% {
        transform: scale(.8);
    }
    100% {
        transform: scale(1);
    }
}

.MovieSearchFieldContainer[data-cb-clicked='true'] .CloseBtn {
    animation: closeBtnHide .3s;
}

@keyframes closeBtnHide {
    0% {
        transform: scale(1)
    }
    100% {
        transform: scale(0)
    }
}

.MovieSearchFieldContainer .CloseBtn::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;

    display: block;
    width: 7rem;
    height: 7rem;
    background-color: var(--color-grey-dark-1);
    border-radius: 50%;
    z-index: -1;

    transform: scale(50);
    animation: containerBgShow 1s;
}

@keyframes containerBgShow {
    0% {
        transform: scale(1);
    }
    10% {
        transform: scale(5);
    }
    60% {
        transform: scale(2);
    }
    100% {
        transform: scale(50);
    }
}

