
.MovieDetailBtns {
    display: flex;
    justify-content: center;

    margin-top: 2rem;
}

.MovieDetailBtns button {
    width: 10rem;
    border-radius: 3rem;
}

.MovieDetailBtns button:not(:last-child) {
    margin-right: 2rem;
}