.MovieForm {
    color: var(--color-grey-light-1);
    height: 100%;
}

.MovieForm .MovieFormBtns {
    margin-top: 1rem;
}

.MovieForm[data-need-thumnail='true'] .show-detail-btn{
    background-color: var(--color-grey-light-1);
    color: var(--color-grey-light-4);
}

.MovieForm[data-need-thumnail='false'] .show-thumnail-btn{
    background-color: var(--color-grey-light-1);
    color: var(--color-grey-light-4);
}
.MovieForm[data-need-thumnail='true'] .show-detail-btn:hover,
.MovieForm[data-need-thumnail='false'] .show-thumnail-btn:hover {
    background-color: var(--color-primary-dark-1);
    color: var(--color-grey-light-1);
}
