
.MovieItemContainer {
    /* max-width: var(--thumnail-width);
    justify-self: center; */
}

.MovieItemContainer .MovieForm {
    opacity: 0;
    transition: opacity .3s ease;
}

.MovieItemContainer[data-need-form='true'] .MovieForm {
    opacity: 1;
    animation:  slideInLeft .3s;
}



