.MovieForm {
    color: var(--color-grey-light-1);
}

.MovieForm form { 
    display: grid;
    grid-template-columns: 1fr 2fr;
}


.MovieForm input[name='title'] {
    grid-column: 1 / -1;
    padding: 1rem;
    /* background: var(--color-primary-dark-1); */
    /* border: 1px solid var(--color-grey-light-1); */
    /* color: var(--color-grey-light-1); */
}

.MovieForm .SelectGenres {
    grid-column: 1 / -1;
}

.MovieForm form > label {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--color-grey-light-1);
    border-right: 1px solid var(--color-grey-light-1);
    background-color: var(--color-primary-light-3);
}

.MovieForm form > input {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--color-grey-light-1);
    /* background-color: var(--color-primary); */
    background-color: #fff;
}


.MovieForm .GenresDisplay {
    padding: 1rem;
    padding-top: .5rem;
}

.MovieForm .SelectGenres .GenresDisplay::after {
    display: none;
}

.MovieForm .MovieFormBtns {
    grid-column: 1 / -1;
    justify-self: center;
    margin-top: 1rem;
}


@keyframes MovieFormShow {
    0% {
        /* opacity: 0; */
        transform: translateX(10%);
    }
    30% {
        transform: translateX(-3%);
    }
    100% {
        /* opacity: 1; */
        transform: translateX(0);
    }
}
