.MovieItem {
    background-color: var(--color-grey-light-1);
    color: var(--color-grey-primary-1);
    border: 1px solid var(--color-grey-light-4);
    animation: MovieItemShow .3s;
    cursor: pointer;
}

.MovieItem figure {
    width: 100%;
    height: var(--thumnail-height);
    overflow: hidden;
    transition: height .3s ease;
}

.MovieItem[data-open-detail='true'] figure {
    height: 0;
}

.MovieItem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .2s ease;
}

/* .MovieItem:hover img {
    transform: scale(1.1);
} */

.MovieItem h3 {
    padding: 1rem;
    background: var(--color-primary-dark-1);
    color: var(--color-grey-light-1);
}

.MovieItem > div:nth-child(2) {
    position: relative;
}

.MovieItem .EditBtn {
    position: absolute;
    right: 1rem;
    top: 50%;
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    transform: translateY(-50%);
    transition: all .2s;
}

.MovieItem .EditBtn:hover {
    background-color: var(--color-grey-light-1);
    color: var(--color-primary-dark-1);
    transform: translateY(-55%);
}

.MovieItem > .GenresDisplay {
    padding: 1rem;
    padding-top: .5rem;
}

.MovieItem > ul {
    height: 0;
    list-style: none;
    transition: height .3s ease;
    overflow: hidden;
}

.MovieItem > ul > li {
    height: calc(var(--thumnail-height) / 5);
    /* display: flex;
    justify-content: center;
    align-items: center; */
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: var(--color-primary);
    
    color: var(--color-grey-light-1);
}

.MovieItem li > * {
    display: flex;
    justify-content: center;
    align-items: center; 
    border-bottom: 1px solid var(--color-grey-light-1);
}

.MovieItem li > label {
    background-color: var(--color-primary-light-3);
    border-right: 1px solid var(--color-grey-light-1);
}

.MovieItem[data-open-detail='true']  > ul {
    height: var(--thumnail-height);
}


@keyframes MovieItemShow {
    0% {
        opacity: 0;
        transform: translateY(10%);
    }
    70% {
        transform: translateY(-1%);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}