.MovieList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(27rem, 1fr));
    grid-gap: 3rem;
    align-items: center;
    
    /* margin-bottom: auto; */
    padding: 5rem 3rem;
}
